---
import { SITE } from '~/utils/config';
import favIcon from '~/assets/favicons/favicon.ico';
---

<div class="flex items-center">
  <img src = {favIcon} alt="Your Logo" class="h-8 w-8 md:h-6 md:w-6" />
  <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {SITE?.name}
  </span>
</div>