---
import { getPermalink } from '~/utils/permalinks';

import {  APP_BLOG } from '~/utils/config';
import type { Post } from '~/types';

export interface Props {
  authors: Post['authors'];
  class?: string;  
  title?: string | undefined;
  isCategory?: boolean;
}

const { authors, class: className = 'text-sm', title = undefined, isCategory = false } = Astro.props;
---

{
    authors && Array.isArray(authors) && (
      <>
        {title !== undefined && (
          <span class="align-super font-normal underline underline-offset-4 decoration-2 dark:text-slate-400">
            {title}
          </span>
        )}
  
        <ul class={className}>
          {authors.map((author) => (
            <li class="bg-gray-100 dark:bg-slate-700 inline-block mr-2 rtl:mr-0 rtl:ml-2 mb-2 py-0.5 px-2 lowercase font-medium">
              {APP_BLOG?.author?.isEnabled ? (
                // Uncomment and set the href attribute as needed
                <a
                  // href={getPermalink(author, isCategory ? 'category' : 'author')}
                  class="text-muted dark:text-slate-300 hover:text-primary dark:hover:text-gray-200"
                >
                  {author}
                </a>
              ) : (
                <p>Render the author as plain text if isEnabled is false
                author </p>
              )}
            </li>
          ))}
        </ul>
      </>
    )
  }
  
